/*
** Simple Twitter Shadowban Checker - js
** 2016 @xho
*/

* {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
}
h1, h2, h3, p { margin: 0; padding: 0; }

.container, header, footer {
    box-sizing: border-box;
    max-width: 28em;
    margin: 1em auto;
}
header {
    font-family: 'Lobster', cursive;
    font-size: 1.125em;
    line-height: 2.5rem;
    text-align: center;
    color: #1da1f2;
}
footer {
    font-size: .875em;
    color: #aaa;
}
footer a {
    color: #1da1f2;;
    text-decoration: none;
}
footer div:first-child {
    text-align: center;
}
footer p {
    margin-bottom: 0.25em;
}

.container {
    padding: 2em;
    color: #fff;
    background-color: #1da1f2;
    border-radius: 1em;
    font-weight: 100;
}

section.input {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.results {
    display: none;
    background: none;
    margin-top: 2em;
    padding-top: 2em;
    border-top: 1px solid #8fc4de;
    background: none;
}

section.results.searching {
    min-height: 8em;
    background: transparent url('../gears.svg') bottom center no-repeat;
}

header span.on {
    color: #c53dc5;
}


input[type=text], button {
    border: 0;
    padding: .4em .5em;
    flex-grow: 1;
    font-size: 1em;
    background-color: #fff;
    border-radius: .25em;
}
input[type=text] {
    margin-right: 1em;
    min-width: 5em;
}

button:active {
    background-color: #333;
    color: #fff;
}

.results ul {
    margin: 0;
    padding: 0 1em;
}
.results li { margin-bottom: 0.5em; }
.results li:last-child { margin-bottom: 2em; }

.results:not(.searching) div {
    padding: .5em;
    background-color: #3cb4fd;
    text-align: center;
    border-radius: .25em;
}

.results.accent:not(.searching) div {
    background-color: #c53dc5;
}


.results a {
    font-weight: bold;
    color: #fff;
}



@media (max-width:440px) {
    .container, header, footer {
        padding-left: 1em;
        padding-right: 1em;
        margin: 1em auto;
        box-sizing: border-box;
        overflow-x: hidden;
        width: 92%;
    }
}
